<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서예은</title>
    <link rel="stylesheet" href="./public/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/index.js"></script>
</head>
<body>
    <header>
        <img src="./public/codingon.png" alt="코딩온">
        Todo List
    </header>
    <main>
        <article class="form-container">
            <form id="todo-form">
                <input type="text" placeholder="today's todo" class="input">
                <button type="submit"> 작성 </button>
            </from>
        </article>
        </from>
        <div class="todolist-container" >
            <ul id="todo-list">
                <li>
                    <input type="checkbox" name="todos">
                </li>
                <!-- <% todos.forEach(todo => { %>
                    <li class="todo">
                        <%= todos._todos_contents %>
                        <button class="todo_delete_btn" type="button" onclick="deleteComment(<%= todo.todo_id %>);">X</button>
                    </li>
                <% }) %> -->



            </ul>
        </div>
    </main>
</body>
</html>